<footer class="vj__footer" style="padding: 0; background-color: transparent;">

  <div class="vj__grid__full" style="border-top: 1px solid #F1F1F1; padding: 30px 0; margin-bottom: 0;">
	<div class="vj__grid">

		<div class="vj__grid__two-thirds ">
			<h3 class="vj__label">About</h3>
			<img src="/img/xxxx.jpg" style="float: left; margin-right: 10px; width: 80px;">
			<p style="margin-top: 0; font-size: 14px; line-height: 1.4;">{{ site.description_link }} | <a href="/about">Read more</a></p>
		</div>

		<div class="vj__grid__one-third" style="margin-right: 0;">
		  <div class="vj__grid">

		  </div>
		</div>

	</div>
  </div>

</footer>
