<header class="site-header" role="banner">

	<div class="vj__navbar black">
	  <div class="vj__grid__full">
		<div class="vj__grid">
		<a href="{{ "/" | relative_url}}" class="vj__navbar__title" style="font-weight: bold;"><span class="vj__navbar__name">Baltimore Jam</span><h5 class="vj__navbar__subtitle">Tune finder</h5></a>

		  <div id="menuButton" class="vj__navbar__toggle"></div>

		  <nav id="main-nav" role="navigation" class="main-menu-nav">
			<ul id="main-menu" class="sm sm-clean" data-smartmenus-id="14762810590939192">

				<li><a href="#key" class="vj__navbar__label" id="tunesByKey">Tunes by Key</a></li>
				<li><a href="#alphabetical" class="vj__navbar__key" id="tunesAlphabetically">Tunes A-Z</a></li>
				<li><a href="#binder" class="vj__navbar__key" id="tunesSaved">Binder <span id='tuneCounter'></span></a></li>

			</ul>

		  </nav>
		</div>
	  </div>
	</div>

</header>

