---
layout: default



---
{% if page.language %}
	{% assign current_language = page.language %}
{% else %}
	{% assign current_language = "english" %}
{% endif %}

{% assign config = site.data.config[current_language][0] %}
{% assign baltimore = site.data.baltimore.english %}
{% assign chords = site.data.chords.english %}
{% assign random = site.time | date: "%s%N" %}

{% comment %}
<!-- this is used for trying to create a list of the keys in the JSON -->
{% endcomment %}
{% assign balt = baltimore[0] %}

<style type="text/css">
</style>

<div class="vj__shell" style="">
	  		<div class="vj__featured-box hide" style="">
				<div class="vj__grid__full">
					{% include video.html %}
					<div class="vj__grid__full" style="max-width: 852px; margin-right: 0; margin-left: auto;">
						
					<div class="vj__grid" style="margin-top: 10px;">
						<h1 id="trackTitle"></h1>
						<h4 id="jamDate"></h4>
					</div>

					<div class="vj__grid" style="margin-top: 60px;">
						
						<p id="summary">The Baltimore Old Time Jam is a bi-weekly session open to Old-Time musicians of all skill levels and backgrounds with the intention of creating a welcoming, communal and joyful space for making music together. Hosted by Ken & Brad Kolodner every other Tuesday night from 7-10pm at R House in the Remington neighborhood of Baltimore City. The first hour of the jam is a "slow jam" in which common tunes are played at a moderate tempo so anyone can join in. At 8pm, the tempo picks up for the "fast jam." We hope you can join us! When the pandemic hit in 2020, the jam moved online.</p>

					</div>

					</div>
			    </div>
	  		</div><!--
	  	--><div class="vj__featured-box__column-right" style="">



	  		<div class="vj__grid__full" style="position: relative; border-left: 1px solid #CCC;">

<div class="vj__key-group">
	
	<h3 class="vj__kicker" style="margin-top: 0;">Key of A</h3>
	<div>
		{% for tune in baltimore %}
			{% if tune.KEY == "A" %}

			<p>{{ tune.SONG }} ({{ tune.KEY }})</p>
			<ul>
				{% for test in balt %}

					{% if tune[test[0]] != "" %}
						{% assign jamDate = test[0] %}
						{% if jamDate != "KEY" and jamDate != "SONG" %}
							{% assign youtube = tune[jamDate] %}
							{% if youtube contains '://' %}
								<li><a href='{{ tune[jamDate] }}' class="tune" title="{{ tune.SONG }}" data-key="{{ tune.KEY }}" data-date="{{ jamDate }}">{{ jamDate }}</a> </li>
							{% endif %}
						{% endif %}
					{% endif %}

				{% endfor %}

			</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>



<div class="vj__key-group">

<h3 class="vj__kicker">Key of C</h3>
<div>
	{% for tune in baltimore %}
		{% if tune.KEY == "C" %}

		<p>{{ tune.SONG }} ({{ tune.KEY }})</p>
		<ul>
			{% for test in balt %}

				{% if tune[test[0]] != "" %}
					{% assign jamDate = test[0] %}
					{% if jamDate != "KEY" and jamDate != "SONG" %}
						{% assign youtube = tune[jamDate] %}
						{% if youtube contains '://' %}
							<li><a href='{{ tune[jamDate] }}' class="tune" title="{{ tune.SONG }}" data-key="{{ tune.KEY }}" data-date="{{ jamDate }}">{{ jamDate }}</a> </li>
						{% endif %}
					{% endif %}
				{% endif %}

			{% endfor %}

		</ul>
		{% endif %}
	{% endfor %}
</div>
</div>


<div class="vj__key-group">

<h3 class="vj__kicker">Key of D</h3>
<div>
	{%- for tune in baltimore -%}
		{% if tune.KEY == "D" %}

		<p>{{ tune.SONG }} ({{ tune.KEY }})</p>
		<ul>
			{%- for test in balt -%}

				{% if tune[test[0]] != "" %}
					{% assign jamDate = test[0] %}
					{% if jamDate != "KEY" and jamDate != "SONG" %}
						{% assign youtube = tune[jamDate] %}

						{% if youtube contains '://' %}

							<li><a href='{{ tune[jamDate] }}' class="tune" title="{{ tune.SONG }}" data-key="{{ tune.KEY }}" data-date="{{ jamDate }}">{{ jamDate }}</a> </li>
						{% endif %}
					{% endif %}
				{% endif %}

			{%- endfor -%}

		</ul>
		{% endif %}
	{%- endfor -%}
</div>
</div>


<div class="vj__key-group">

<h3 class="vj__kicker">Key of G</h3>
<div>
	{%- for tune in baltimore -%}
		{% if tune.KEY == "G" %}

		<p>{{ tune.SONG }} ({{ tune.KEY }})</p>
		<ul>
			{%- for test in balt -%}

				{% if tune[test[0]] != "" %}
					{% assign jamDate = test[0] %}
					{% if jamDate != "KEY" and jamDate != "SONG" %}
						{% assign youtube = tune[jamDate] %}
						{% if youtube contains '://' %}
							<li><a href='{{ tune[jamDate] }}' class="tune" title="{{ tune.SONG }}" data-key="{{ tune.KEY }}" data-date="{{ jamDate }}">{{ jamDate }}</a> </li>
						{% endif %}
					{% endif %}
				{% endif %}

			{%- endfor -%}

		</ul>
		{% endif %}
	{%- endfor -%}
</div>
	  				
	  			</div>
	  		</div>


		  	</div>
	  	</div>



<script type="text/javascript">
	var chords = {

		{%- for tune in baltimore -%}
			{%- for song in chords -%}
				{%- if tune.SONG == song.tune -%}
					{%- assign tuneChords = song.chords -%}
					{%- if tuneChords.size > 2 -%}
					"{{ song.tune }}": {
						"chords": "{{ song.chords | newline_to_br }}"
					},
					{%- endif -%}
				{%- endif -%}
			{%- endfor -%}
		{%- endfor -%}

	}

</script>
